In [1]:
# Data analysis and visualization
import tensorflow as tf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
# Preprocessing and evaluation
from sklearn.model_selection import train_test_split
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import MinMaxScaler

C:\Users\Admin\anaconda3\lib\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
(X_train , y_train), (X_test , y_test) = tf.keras.datasets.boston_housing.load_data(
path = 'boston_housing_npz',
test_split = 0.2,
seed = 42
)

Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/boston_housing.npz
57026/57026 ━━━━━━━━━━━━━━━━━━━━ 0s 1us/step

In [3]:
# Checking the data shape and type
(X_train.shape, type(X_train)), (X_test.shape, type(X_test)), (y_train.shape, type(y_train)), (y_test.shape, type(y_test))

(((404, 13), numpy.ndarray),
 ((102, 13), numpy.ndarray),
 ((404,), numpy.ndarray),
 ((102,), numpy.ndarray))

In [4]:
# Converting Data to DataFrame
X_train_df = pd.DataFrame(X_train)
y_train_df = pd.DataFrame(y_train)
# Preview the training data
X_train_df.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.09178,0.0,4.05,0.0,0.510,6.416,84.1,2.6463,5.0,296.0,16.6,395.50,9.04
1,0.05644,40.0,6.41,1.0,0.447,6.758,32.9,4.0776,4.0,254.0,17.6,396.90,3.53
2,0.10574,0.0,27.74,0.0,0.609,5.983,98.8,1.8681,4.0,711.0,20.1,390.11,18.07
3,0.09164,0.0,10.81,0.0,0.413,6.065,7.8,5.2873,4.0,305.0,19.2,390.91,5.52
4,5.09017,0.0,18.10,0.0,0.713,6.297,91.8,2.3682,24.0,666.0,20.2,385.09,17.27
5,0.10153,0.0,12.83,0.0,0.437,6.279,74.5,4.0522,5.0,398.0,18.7,373.66,11.97
6,0.31827,0.0,9.90,0.0,0.544,5.914,83.2,3.9986,4.0,304.0,18.4,390.70,18.33
7,0.29090,0.0,21.89,0.0,0.624,6.174,93.6,1.6119,4.0,437.0,21.2,388.08,24.16
8,4.03841,0.0,18.10,0.0,0.532,6.229,90.7,3.0993,24.0,666.0,20.2,395.33,12.87
9,0.22438,0.0,9.69,0.0,0.585,6.027,79.7,2.4982,6.0,391.0,19.2,396.90,14.33

In [5]:
# View summary of datasets
X_train_df.info()
print('_'*40)
y_train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 404 entries, 0 to 403
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       404 non-null    float64
 1   1       404 non-null    float64
 2   2       404 non-null    float64
 3   3       404 non-null    float64
 4   4       404 non-null    float64
 5   5       404 non-null    float64
 6   6       404 non-null    float64
 7   7       404 non-null    float64
 8   8       404 non-null    float64
 9   9       404 non-null    float64
 10  10      404 non-null    float64
 11  11      404 non-null    float64
 12  12      404 non-null    float64
dtypes: float64(13)
memory usage: 41.2 KB
________________________________________
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 404 entries, 0 to 403
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       404 non-null    float64
dtypes: float64(1)
memory usage: 3.3 KB

In [6]:
# distribution of numerical feature values across the samples
X_train_df.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12
count,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000
mean,3.789989,11.568069,11.214059,0.069307,0.554524,6.284824,69.119307,3.792258,9.660891,408.960396,18.481931,356.293020,12.825520
std,9.132761,24.269648,6.925462,0.254290,0.116408,0.723759,28.034606,2.142651,8.736073,169.685166,2.157322,92.058615,7.308772
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.137000,1.000000,187.000000,12.600000,0.320000,1.920000
25%,0.081960,0.000000,5.190000,0.000000,0.452000,5.878750,45.475000,2.097050,4.000000,281.000000,17.400000,375.085000,7.092500
50%,0.262660,0.000000,9.690000,0.000000,0.538000,6.210000,77.500000,3.167500,5.000000,330.000000,19.100000,391.305000,11.560000
75%,3.717875,12.500000,18.100000,0.000000,0.624000,6.620500,94.425000,5.118000,24.000000,666.000000,20.200000,395.810000,17.167500
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [7]:
# Create column transformer
ct = make_column_transformer(
(MinMaxScaler(), [0, 1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12])
)
# Normalization and data type change
X_train = ct.fit_transform(X_train).astype('float32')
X_test = ct.transform(X_test).astype('float32')
y_train = y_train.astype('float32')
y_test = y_test.astype('float32')
# Distribution of X_train feature values after normalization
pd.DataFrame(X_train).describe()

,0,1,2,3,4,5,6,7,8,9,10,11
count,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000
mean,0.042528,0.115681,0.394210,0.348815,0.521906,0.681970,0.241618,0.376561,0.423589,0.625738,0.897607,0.302511
std,0.102650,0.242696,0.253866,0.239522,0.138678,0.288719,0.194973,0.379829,0.323827,0.229502,0.232131,0.202740
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000850,0.000000,0.173387,0.137860,0.444098,0.438466,0.087361,0.130435,0.179389,0.510638,0.944992,0.143481
50%,0.002881,0.000000,0.338343,0.314815,0.507569,0.768280,0.184767,0.173913,0.272901,0.691489,0.985892,0.267406
75%,0.041717,0.125000,0.646628,0.491770,0.586223,0.942585,0.362255,1.000000,0.914122,0.808511,0.997252,0.422954
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [8]:
# Reserve data for validation
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.1, random_state=42)
X_train.shape, X_val.shape, y_train.shape, y_val.shape

((363, 12), (41, 12), (363,), (41,))

In [9]:
# Set random seed
tf.random.set_seed(42)
# Building the model
model = tf.keras.Sequential([
tf.keras.layers.Dense(units=10, activation='relu', input_shape=(X_train.shape[1],), name='Dense_1'),
tf.keras.layers.Dense(units=100, activation='relu', name='Dense_2'),
tf.keras.layers.Dense(units=1, name='Prediction')
])
# Compiling the model
model.compile(
loss = tf.keras.losses.mean_squared_error,
optimizer = tf.keras.optimizers.RMSprop(learning_rate=0.01),
metrics = ['mse']
)
# Training the model
history = model.fit(
X_train,
y_train,
batch_size=32,
epochs=50,
validation_data=(X_val, y_val)
)

C:\Users\Admin\anaconda3\lib\site-packages\keras\src\layers\core\dense.py:86: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Epoch 1/50
12/12 ━━━━━━━━━━━━━━━━━━━━ 1s 21ms/step - loss: 458.5682 - mse: 458.5682 - val_loss: 147.6319 - val_mse: 147.6319
Epoch 2/50
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 92.5090 - mse: 92.5090 - val_loss: 75.4475 - val_mse: 75.4475
Epoch 3/50
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 49.6899 - mse: 49.6899 - val_loss: 63.0332 - val_mse: 63.0332
Epoch 4/50
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 44.6544 - mse: 44.6544 - val_loss: 57.3492 - val_mse: 57.3492
Epoch 5/50
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 40.8417 - mse: 40.8417 - val_loss: 51.8227 - val_mse: 51.8227
Epoch 6/50
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 37.7447 - mse: 37.7447 - val_loss: 46.7598 - val_mse: 46.7598
Epoch 7/50
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 35.0247 - mse: 35.0247 - val_loss: 41.6428 - val_mse: 41.6428
Epoch 8/50
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 32.7038 - mse: 32.7038 - val_loss: 37.8551 - val_mse: 37.8551
Epoch 9/50
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 30.8277 - mse: 30.8277 - val_loss: 34.8182 - val_mse: 34.8182
Epoch 10/50
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - loss: 29.3358 - mse: 29.3358 - val_loss: 32.3268 - val_mse: 32.3268
Epoch 11/50
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 28.0313 - mse: 28.0313 - val_loss: 30.3635 - val_mse: 30.3635
Epoch 12/50
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 27.1542 - mse: 27.1542 - val_loss: 28.7890 - val_mse: 28.7890
Epoch 13/50
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 26.4119 - mse: 26.4119 - val_loss: 27.2208 - val_mse: 27.2208
Epoch 14/50
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 25.8153 - mse: 25.8153 - val_loss: 25.8778 - val_mse: 25.8778
Epoch 15/50
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - loss: 25.1752 - mse: 25.1752 - val_loss: 24.5354 - val_mse: 24.5354
Epoch 16/50
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - loss: 24.4299 - mse: 24.4299 - val_loss: 23.2121 - val_mse: 23.2121
Epoch 17/50
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 23.6932 - mse: 23.6932 - val_loss: 22.3897 - val_mse: 22.3897
Epoch 18/50
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 23.2586 - mse: 23.2586 - val_loss: 21.5454 - val_mse: 21.5454
Epoch 19/50
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - loss: 22.8076 - mse: 22.8076 - val_loss: 20.9707 - val_mse: 20.9707
Epoch 20/50
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - loss: 22.3568 - mse: 22.3568 - val_loss: 20.3857 - val_mse: 20.3857
Epoch 21/50
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - loss: 21.9679 - mse: 21.9679 - val_loss: 19.9873 - val_mse: 19.9873
Epoch 22/50
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - loss: 21.4401 - mse: 21.4401 - val_loss: 19.5486 - val_mse: 19.5486
Epoch 23/50
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - loss: 21.1378 - mse: 21.1378 - val_loss: 19.2918 - val_mse: 19.2918
Epoch 24/50
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - loss: 20.8242 - mse: 20.8242 - val_loss: 19.0495 - val_mse: 19.0495
Epoch 25/50
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 20.5431 - mse: 20.5431 - val_loss: 18.7711 - val_mse: 18.7711
Epoch 26/50
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 20.3181 - mse: 20.3181 - val_loss: 18.4170 - val_mse: 18.4170
Epoch 27/50
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - loss: 19.9692 - mse: 19.9692 - val_loss: 18.2166 - val_mse: 18.2166
Epoch 28/50
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 19.4822 - mse: 19.4822 - val_loss: 17.9623 - val_mse: 17.9623
Epoch 29/50
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 19.2973 - mse: 19.2973 - val_loss: 17.7490 - val_mse: 17.7490
Epoch 30/50
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 18.9599 - mse: 18.9599 - val_loss: 17.6732 - val_mse: 17.6732
Epoch 31/50
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 18.7663 - mse: 18.7663 - val_loss: 17.6398 - val_mse: 17.6398
Epoch 32/50
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 18.3247 - mse: 18.3247 - val_loss: 17.6403 - val_mse: 17.6403
Epoch 33/50
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 18.3053 - mse: 18.3053 - val_loss: 17.5110 - val_mse: 17.5110
Epoch 34/50
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 17.7143 - mse: 17.7143 - val_loss: 17.3558 - val_mse: 17.3558
Epoch 35/50
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 17.5368 - mse: 17.5368 - val_loss: 17.0455 - val_mse: 17.0455
Epoch 36/50
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 17.3595 - mse: 17.3595 - val_loss: 16.9669 - val_mse: 16.9669
Epoch 37/50
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 16.7494 - mse: 16.7494 - val_loss: 16.7355 - val_mse: 16.7355
Epoch 38/50
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 16.8236 - mse: 16.8236 - val_loss: 16.8455 - val_mse: 16.8455
Epoch 39/50
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 16.2351 - mse: 16.2351 - val_loss: 16.7468 - val_mse: 16.7468
Epoch 40/50
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 16.4542 - mse: 16.4542 - val_loss: 16.9967 - val_mse: 16.9967
Epoch 41/50
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 15.9267 - mse: 15.9267 - val_loss: 17.0738 - val_mse: 17.0738
Epoch 42/50
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 16.1456 - mse: 16.1456 - val_loss: 17.1466 - val_mse: 17.1466
Epoch 43/50
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 15.5646 - mse: 15.5646 - val_loss: 17.2158 - val_mse: 17.2158
Epoch 44/50
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 15.7483 - mse: 15.7483 - val_loss: 17.2117 - val_mse: 17.2117
Epoch 45/50
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 15.8022 - mse: 15.8022 - val_loss: 17.3188 - val_mse: 17.3188
Epoch 46/50
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 15.1382 - mse: 15.1382 - val_loss: 17.4322 - val_mse: 17.4322
Epoch 47/50
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 15.4079 - mse: 15.4079 - val_loss: 17.4410 - val_mse: 17.4410
Epoch 48/50
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - loss: 14.6557 - mse: 14.6557 - val_loss: 17.6276 - val_mse: 17.6276
Epoch 49/50
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 14.7933 - mse: 14.7933 - val_loss: 17.3968 - val_mse: 17.3968
Epoch 50/50
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 14.5737 - mse: 14.5737 - val_loss: 17.2602 - val_mse: 17.2602